In this notebook we will talk about Pandas, which is one of most popular Python libraries in data science. Pandas offer data structure that is suitable for data manipulation and analysis. 

We will play with some basic functionalities of Pandas. If you're interested to learn more about pandas, make sure to check out [this](https://github.com/guipsamora/pandas_exercises).

This notebook is inspired by these two references: 
*   https://github.com/guipsamora/pandas_exercises
*   https://mlcourse.ai/

In [1]:
import pandas as pd
import numpy as np

# the following line sets the number of decimal points in all pandas datastructures.
pd.set_option("display.precision", 2)

Pandas introduces two additional data structures: **Series** and **DataFrame**. Series is similar to 1-dimenstional arrays and DataFrame is similar to an excel sheet with rows and columns, but of course with several more functionalities. Each column of DataFrame can be thought as a Series.

## Example 1: Chipotle Dataset

### Reading Data
Pandas can read files with different extensions including csv (comma-seperated values), tsv (tab-seperated values) and xlsx (excel file format). 

Reading csv and tsv files is with `read_csv` function. You can pass the address to the file you want to read on your hard drive or the url that contain the file. For csv files, you don't need any other arguments, but for tsv files, you need to pass `sep = '\t'` to `read_csv`. This second argument basically tells pandas to use tab as a seperator (and not commas which is the default option).

The data we are going to use are at 
`'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'`. 
Read this file using `read_csv` function

In [8]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'    
chipo = pd.read_csv(url, on_bad_lines='skip', sep="\t")

This data include the online orders from the Chipotle restaurant chain.\
What is the type of chipo?

In [9]:
type(chipo)

pandas.core.frame.DataFrame

### Initial exploration

in order to peek into the data and see the first few rows, we can use `head` method.

In [10]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

To see the size of the dataset, we can use `shape` feature. also to see the list of columns, we can use `columns` feature of DataFrames

In [11]:
chipo.shape

(4622, 5)

In [12]:
chipo.columns.tolist()

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

In order to call a particular column, we can use either of these two methods:\
`chipo["order_id"]` (similar to calling a dictionary)\
`chipo.order_id` (similar to calling a feature)

### How many unique item name exists?

In [15]:
# write your function to get the list of unique items
chipo["item_name"].unique().tolist()

['Chips and Fresh Tomato Salsa',
 'Izze',
 'Nantucket Nectar',
 'Chips and Tomatillo-Green Chili Salsa',
 'Chicken Bowl',
 'Side of Chips',
 'Steak Burrito',
 'Steak Soft Tacos',
 'Chips and Guacamole',
 'Chicken Crispy Tacos',
 'Chicken Soft Tacos',
 'Chicken Burrito',
 'Canned Soda',
 'Barbacoa Burrito',
 'Carnitas Burrito',
 'Carnitas Bowl',
 'Bottled Water',
 'Chips and Tomatillo Green Chili Salsa',
 'Barbacoa Bowl',
 'Chips',
 'Chicken Salad Bowl',
 'Steak Bowl',
 'Barbacoa Soft Tacos',
 'Veggie Burrito',
 'Veggie Bowl',
 'Steak Crispy Tacos',
 'Chips and Tomatillo Red Chili Salsa',
 'Barbacoa Crispy Tacos',
 'Veggie Salad Bowl',
 'Chips and Roasted Chili-Corn Salsa',
 'Chips and Roasted Chili Corn Salsa',
 'Carnitas Soft Tacos',
 'Chicken Salad',
 'Canned Soft Drink',
 'Steak Salad Bowl',
 '6 Pack Soft Drink',
 'Chips and Tomatillo-Red Chili Salsa',
 'Bowl',
 'Burrito',
 'Crispy Tacos',
 'Carnitas Crispy Tacos',
 'Steak Salad',
 'Chips and Mild Fresh Tomato Salsa',
 'Veggie Soft Tacos',
 'Carnitas Salad Bowl',
 'Barbacoa Salad Bowl',
 'Salad',
 'Veggie Crispy Tacos',
 'Veggie Salad',
 'Carnitas Salad']

### From each item_name, how many were ordered?

In [30]:
# we want to create a dictionary for frequency of items. 
# in a for loop, go through any item in the chipo.item_name.
# for everytime you visit an item, increment its value by one.

# write your code here

# This will sort your dictionary.
# can you tell how it works.
num_orders = {}
for item, quantity in zip(chipo["item_name"], chipo["quantity"]):
    num_orders[item] = num_orders.get(item, 0) + quantity

sorted(num_orders.items(), key=lambda x: x[1], reverse=True)[:10]

[('Chicken Bowl', 761),
 ('Chicken Burrito', 591),
 ('Chips and Guacamole', 506),
 ('Steak Burrito', 386),
 ('Canned Soft Drink', 351),
 ('Chips', 230),
 ('Steak Bowl', 221),
 ('Bottled Water', 211),
 ('Chips and Fresh Tomato Salsa', 130),
 ('Canned Soda', 126)]

There is a problem with the above implementation. Can anyone say what the problem is?

Instead of the above code, we could have used a method called `groupby`.\
`groupby` groups a DataFrame according to the input.\
Lets see an example.

In [23]:
c = chipo.groupby('item_name')
c = c.sum()['quantity']
c.sort_values(ascending=False)[:10]

item_name
Chicken Bowl                    761
Chicken Burrito                 591
Chips and Guacamole             506
Steak Burrito                   386
Canned Soft Drink               351
Chips                           230
Steak Bowl                      221
Bottled Water                   211
Chips and Fresh Tomato Salsa    130
Canned Soda                     126
Name: quantity, dtype: int64

### What is the average revenue amount per order?
The problem here is that the `chipo.item_price` is a string and has a `$` in it. 
Can we add these together? Try the next cell.

In [31]:
chipo.item_price[0] + chipo.item_price[1]

'$2.39 $3.39 '

Take the first member of this list. Turn the price into a floating number

In [33]:
first_price = chipo.item_price[0]
first_price = first_price[1:-1]
first_price = float(first_price)

first_price

2.39

Write the above operations in terms of a function. The function receives `x` which is a price of type string and has a `$` in it that needs to be removed.
the function should return the price as a floating number.

In [37]:
def str_to_float(x):
  return float(x[1:])

The function above is writen when `x` is only one member of a Pandas Series. You can apply one function to an entire Series using `apply` method.
Try it .
Create a new column called `"item_price_new"` and populate it with the floating values of price.

In [38]:
chipo["item_price_new"] = chipo.item_price.apply(str_to_float)

Create a new column called `"revenue"` using the existing columns.

In [39]:
chipo["revenue"] = (chipo['quantity'] * chipo['item_price_new'])
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price,item_price_new,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,33.96
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98,10.98
6,3,1,Side of Chips,NaN,$1.69,1.69,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75,11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25,9.25,9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25,9.25,9.25

Find the total revenue for each item. You may want to use `groupby` and then `sum`.

In [40]:
chipo.groupby("item_name")["revenue"].sum()

item_name
6 Pack Soft Drink                         369.93
Barbacoa Bowl                             672.36
Barbacoa Burrito                          894.75
Barbacoa Crispy Tacos                     138.71
Barbacoa Salad Bowl                       106.40
Barbacoa Soft Tacos                       250.46
Bottled Water                             649.18
Bowl                                       74.00
Burrito                                    44.40
Canned Soda                               191.84
Canned Soft Drink                         603.75
Carnitas Bowl                             830.71
Carnitas Burrito                          616.33
Carnitas Crispy Tacos                      95.94
Carnitas Salad                              8.99
Carnitas Salad Bowl                        66.34
Carnitas Soft Tacos                       375.94
Chicken Bowl                             8044.63
Chicken Burrito                          6387.06
Chicken Crispy Tacos                      524.11
Chicken Salad                              81.09
Chicken Salad Bowl                       1506.25
Chicken Soft Tacos                       1199.01
Chips                                     580.34
Chips and Fresh Tomato Salsa             1033.96
Chips and Guacamole                      2475.62
Chips and Mild Fresh Tomato Salsa           3.00
Chips and Roasted Chili Corn Salsa         73.75
Chips and Roasted Chili-Corn Salsa         43.02
Chips and Tomatillo Green Chili Salsa     144.55
Chips and Tomatillo Red Chili Salsa       159.30
Chips and Tomatillo-Green Chili Salsa      88.43
Chips and Tomatillo-Red Chili Salsa        93.21
Crispy Tacos                               14.80
Izze                                       67.80
Nantucket Nectar                          111.87
Salad                                      14.80
Side of Chips                             290.68
Steak Bowl                               2479.81
Steak Burrito                            4236.13
Steak Crispy Tacos                        375.32
Steak Salad                                35.66
Steak Salad Bowl                          391.15
Steak Soft Tacos                          554.55
Veggie Bowl                               901.95
Veggie Burrito                           1002.27
Veggie Crispy Tacos                         8.49
Veggie Salad                               50.94
Veggie Salad Bowl                         182.50
Veggie Soft Tacos                          90.94
Name: revenue, dtype: float64

Find the average revenue for each item. sort this in decreasing order

In [41]:
chipo.groupby("item_name").mean()
chipo.groupby("item_name").mean()["revenue"].sort_values()

item_name
Canned Soda                               1.84
Canned Soft Drink                         2.01
Chips and Roasted Chili-Corn Salsa        2.39
Chips                                     2.75
Chips and Tomatillo-Green Chili Salsa     2.85
Side of Chips                             2.88
Chips and Mild Fresh Tomato Salsa         3.00
Chips and Tomatillo Red Chili Salsa       3.32
Chips and Roasted Chili Corn Salsa        3.35
Chips and Tomatillo Green Chili Salsa     3.36
Izze                                      3.39
Bottled Water                             4.01
Nantucket Nectar                          4.14
Chips and Tomatillo-Red Chili Salsa       4.66
Chips and Guacamole                       5.17
6 Pack Soft Drink                         6.85
Salad                                     7.40
Crispy Tacos                              7.40
Burrito                                   7.40
Veggie Crispy Tacos                       8.49
Veggie Salad                              8.49
Steak Salad                               8.91
Carnitas Salad                            8.99
Chicken Salad                             9.01
Carnitas Soft Tacos                       9.40
Chips and Fresh Tomato Salsa              9.40
Barbacoa Burrito                          9.83
Barbacoa Soft Tacos                      10.02
Steak Soft Tacos                         10.08
Veggie Salad Bowl                        10.14
Barbacoa Bowl                            10.19
Chicken Soft Tacos                       10.43
Carnitas Burrito                         10.45
Veggie Burrito                           10.55
Veggie Bowl                              10.61
Barbacoa Salad Bowl                      10.64
Steak Crispy Tacos                       10.72
Carnitas Salad Bowl                      11.06
Chicken Bowl                             11.08
Chicken Crispy Tacos                     11.15
Steak Burrito                            11.51
Chicken Burrito                          11.55
Steak Bowl                               11.75
Carnitas Bowl                            12.22
Barbacoa Crispy Tacos                    12.61
Veggie Soft Tacos                        12.99
Steak Salad Bowl                         13.49
Chicken Salad Bowl                       13.69
Carnitas Crispy Tacos                    13.71
Bowl                                     37.00
Name: revenue, dtype: float64

### Let's furthere investigate "Bowl"

Find all the rows associated with `item_name` of `"Bowl"`

In [42]:
chipo[chipo["item_name"]=="Bowl"]

,order_id,quantity,item_name,choice_description,item_price,item_price_new,revenue
445,193,3,Bowl,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",$22.20,22.2,66.6
673,279,1,Bowl,"[Adobo-Marinated and Grilled Steak, [Sour Crea...",$7.40,7.4,7.4

Find the average revenue for each sold item.

In [43]:
chipo_sum = chipo.groupby("item_name").sum()
chipo_sum["revenue"]/chipo_sum["quantity"]

item_name
6 Pack Soft Drink                         6.73
Barbacoa Bowl                            10.19
Barbacoa Burrito                          9.83
Barbacoa Crispy Tacos                    11.56
Barbacoa Salad Bowl                      10.64
Barbacoa Soft Tacos                      10.02
Bottled Water                             3.08
Bowl                                     18.50
Burrito                                   7.40
Canned Soda                               1.52
Canned Soft Drink                         1.72
Carnitas Bowl                            11.70
Carnitas Burrito                         10.27
Carnitas Crispy Tacos                    11.99
Carnitas Salad                            8.99
Carnitas Salad Bowl                      11.06
Carnitas Soft Tacos                       9.40
Chicken Bowl                             10.57
Chicken Burrito                          10.81
Chicken Crispy Tacos                     10.48
Chicken Salad                             9.01
Chicken Salad Bowl                       12.25
Chicken Soft Tacos                        9.99
Chips                                     2.52
Chips and Fresh Tomato Salsa              7.95
Chips and Guacamole                       4.89
Chips and Mild Fresh Tomato Salsa         3.00
Chips and Roasted Chili Corn Salsa        3.21
Chips and Roasted Chili-Corn Salsa        2.39
Chips and Tomatillo Green Chili Salsa     3.21
Chips and Tomatillo Red Chili Salsa       3.19
Chips and Tomatillo-Green Chili Salsa     2.68
Chips and Tomatillo-Red Chili Salsa       3.73
Crispy Tacos                              7.40
Izze                                      3.39
Nantucket Nectar                          3.86
Salad                                     7.40
Side of Chips                             2.64
Steak Bowl                               11.22
Steak Burrito                            10.97
Steak Crispy Tacos                       10.43
Steak Salad                               8.91
Steak Salad Bowl                         12.62
Steak Soft Tacos                          9.90
Veggie Bowl                              10.37
Veggie Burrito                           10.33
Veggie Crispy Tacos                       8.49
Veggie Salad                              8.49
Veggie Salad Bowl                        10.14
Veggie Soft Tacos                        11.37
dtype: float64